.main{
    width: 100%;
    background-color: gainsboro;
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* justify-content: center; */
    /* align-items: center; */
}

.cards{
    width: 200px;
    height: 200px;
    border: 1px solid black ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}